@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'Inter', sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
  @apply bg-slate-50 dark:bg-slate-900 text-slate-900 dark:text-slate-50;
}
